:root {
    --text-color: #f0f4f5;
    --background-color: tomato;
}
body{
    margin: 0 0 0 0;
    font-family: 'Source Sans Pro';
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}
.nav__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: var(--text-color)
}

.nav__logo{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 24px;
    color: var(--text-color);
}

.nav__logo i {
    color: yellowgreen;
}

.nav__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav__menu li {
    padding: 8px 12px;
}

.nav__icons {
    list-style: none;
    color: var(--text-color);
    display: flex;
    padding: 0;
}
.nav__menu li:hover {
    background-color: orange;
    box-sizing: 4px;
}
.nav__icons li {
    padding: 8px 12px;
}
.navbar__toggleBtn {
    position: absolute;
    right: 32px;
    display: none;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;    
        align-items: flex-start;
        padding: 8px 24px;
    }

    .nav__menu{
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
    }

    .nav__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__toggleBtn{
        display: block;
    }
    .nav__icons{
        display: none;
    }
    .nav__menu.active,
    .nav__icons.active {
        display: flex;
    }
}